<?xml version="1.0" ?>
<launch>
        <arg name="robot_name" default="gripper_controller" />
        <arg name="gripper_name" default="gripper" />
        <arg name="gui" default="true" />
	<arg name="task_period" default="0.004" />

	<arg name="world_name" default="empty.world"/>

	<arg name="spawn_x" default="0.1" />
	<arg name="spawn_y" default="0.1" />
	<arg name="spawn_z" default="0.05" />
 	<arg name="gazebo" value="true" />

        <!-- load robot name into param server-->
        <param name="robot_name" type="str" value="$(arg robot_name)" />

	  <include file="$(find gripper_description)/launch/load_gripper.launch">
      </include>

     	<!-- 2 launch gzserver (with empty world)/ gzcclient: Starts Gazebo and load the empty world if requested to do so - -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch" >
		        <arg name="world_name" value="$(find gripper_controller)/worlds/$(arg world_name)"/>
                <arg name="paused" value="false"/>
                <arg name="use_sim_time" default="true" />
                <arg name="gui" value="$(arg gui)" />
                <arg name="headless" default="false" />
                <arg name="debug" default="false" />
                <arg name="verbose" value="true" />
        </include>

        <!-- 3 Spawn a gripper (described in gripper_description) into Gazebo -->
        <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model gripper -x $(arg spawn_x) -y $(arg spawn_y) -z $(arg spawn_z)"/>

	<!-- 4 -Loading  controllers settings -->
	<rosparam file="$(find gripper_controller)/config/joint_state_publisher.yaml" ns="/$(arg robot_name)" command="load"/>
	<rosparam file="$(find gripper_controller)/config/gripper_controller.yaml" ns="/$(arg robot_name)" command="load"/>>


        <!-- 5  - Loading the controllers (joint state publisher (install ros-kinetic-joint-state-controller) is necessary for robot_state publisher to compute the TFs) -->
	<node name="gripper_controller" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/$(arg robot_name)"  args="joint_state_publisher gripper_controller" />

        <!-- 6- load robot_state_publisher: converts joint states to TF transforms, it is just for rviz, etc -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		 <remap from="/joint_states" to="/$(arg robot_name)/$(arg gripper_name)/joint_states"/>
	</node>
</launch>

